<style>
    body
    {
        background-image: url("https://www.wallpaperflare.com/static/498/674/557/light-bulb-lightbulb-light-bulb-wallpaper.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: floralwhite;
        padding-top: 50px;
        font-family: "Arial";
    }
    .signupform
    {
           color: darkgray;
           font: 16px "Arial";
           width: 450px;
           height: 420px;
           border: solid dimgray;
           line-height: 40px;
           border-radius: 10px;
           padding: 10px 10px 10px 10px;
           background: rgba(0,0,0,0.5);
           float: left;
           position: absolute;
           left:15%;
           top:20%;

    }
    .signupform p
     {
        display: inline;
     }
    .signupform input
    {
        background-color: transparent;!important;
        font: 16px "Arial";
        border-radius: 5px;
    }

    .signupform button
    {

        position: absolute;
        top: 85%;
        width: 100px;

    }

    .topic
    {
        font-size: 28px;
        text-align: center;!important;
    }

    .contain1
    {
        position: absolute;
        top:18%;
        left:10%;
    }

    .contain2
    {
        position: absolute;
        top:18%;
        left:8%;
    }
    .quesansform
    {
        font: 18px "Arial";
        color: darkgray;
    }

    .ansform
    {
        font: 18px "Arial";
        color: darkgray;

    }
    .quesansform [input="text"], .quesansform textarea
    {
        background-color: black;!important;
        opacity: 0.5;
        font: 16px "Arial";
        border: solid gray 1px;
        width: 1100px;!important;

    }
    .quesansform input
    {
        background-color: black;!important;
        opacity: 0.5;
        font: 16px "Arial";
        border: solid gray 1px;
        line-height: 20px;
    }

    .ansform [input="text"], .ansform textarea
    {
        background-color: black;!important;
        opacity: 0.5;
        font: 16px "Arial";
        border: solid gray 1px;
        width: 1150px;

    }

    .well
    {
        background: rgba(0,0,0,0.5);
        color: darkgray;
        font: 16px "Arial";
        border: solid gray 1px;!important;
    }

    .list
    {
        padding-left: 30px;
        width: 94%;

    }
    .list p
    {
        font-size: 18px;
    }
    .button_space
    {
        margin-left: 10px;
    }

    .htab
    {
        background-color: lightgray;
        border:solid darkgray 1px ;
    }

    .htab p
    {
        text-align: center;
        padding-top: 2.4vh;
        color:#333333;
    }

    .btn-default
    {
        font-size: 14px;!important;
    }

    a:link
    {
        text-decoration: none;
    }

    small
    {
        color: dimgray;
        font-size: 12px;!important;
    }

    .question
    {
        margin-top: 20px;
        margin-left: 40px;
    }
    .question p
    {
        font-size: 22px;
        color: darkgray;
    }

</style>