<div class= "navbar-wrapper">
    <div class="container">
        <nav class = "navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

                <div class = "navbar-header">
                    <button type= "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar" aria-expanded="false" aria-controls = "navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=".">
                         <!---<img class="img-responsive" src="" style="height: 4vh;float: left">--->
                         <p>DecodeIt</p>
                    </a>
                </div>

                <div id= "navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
                        {% if user.is_authenticated %}
                            <li><a href="."><span class="glyphicon glyphicon-user"></span> {{ user.get_full_name }}</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'signup' %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">Log In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
        </nav>
    </div>
</div>
</div>