{% extends 'base.html' %}
{% load static %}
{% block title %}Add a Question|DecodeIt{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 htab">
      <p>
      <a href="../../" style="color: #333333"><span class="glyphicon glyphicon-chevron-left" style="float: left;padding-left: 15px"></span></a>
        ADD A QUESTION
      </p>
    </div>
</div>
<div class="contain1">
  <form class="quesansform" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{field.label}}
        </p>
        <p>
            {{ field }}
        </p>
    {% endfor %}
    <button class="btn btn-default" type="submit">Add</button>
  </form>
</div>
{% endblock %}
